body {
    padding-top: 70px;
}

.list-group-item:hover {
      background-color: #f5f5f5;
}

.block-title {
    color: #3E3F3A;
    font-size: 16px;
}

.block-url {
    color: #51524E;
    font-size: 13px;
}

.blocks {
    display: none;
}

label.error {
    color: red;
    font-weight: normal;
}